@import "../global/_variables.scss";
@import '../global/setting';

.case-study-details {
  padding-bottom: 50px;
  position: relative;

  .metrics-wrapper {
    width: 100%;

    .metrics-listing {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      padding-left: 104px;
      padding-right: 104px;
      margin-bottom: 94px;

      @media (max-width: 991px) {
        padding-left: 0;
        padding-right: 0;
      }

      @media (max-width: 767px) {
        margin-bottom: 30px;
        margin-left: -16px;
        margin-right: -16px;
        flex-wrap: wrap;
      }

      &.jc-sb {
        @media (max-width: 360px) {
          justify-content: center;
          -webkit-box-pack: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
        }
      }

      .metrics-item {
        width: 175px;
        text-align: center;

        @media (max-width: 767px) {
          margin-bottom: 32px;
          padding-left: 16px;
          padding-right: 16px;
          width: 50%;
          -webkit-box: 0 0 50%;
          -moz-box: 0 0 50%;
          -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
        }

        @media (max-width: 360px) {
          padding: 0;
          width: 175px;
          -webkit-box: 0 0 auto;
          -moz-box: 0 0 auto;
          -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
        }

        .h4 {
          font-size: 30px;
          // font-family: "Muli-Bold", sans-serif;
          font-weight: $fw-bold;

          span {
            font-size: 20px;
            // font-family: "Muli-Bold", sans-serif;
            font-weight: $fw-bold;
          }
        }

        span {
          font-size: 16px;
          // font-family: "Muli-Bold", sans-serif;
          font-weight: $fw-bold;
        }

        hr {
          margin-top: 15px;
          margin-bottom: 17px;
          border: none;
          height: 1px;
          background-color: #818181;
        }
      }
    }
  }

  .case-study-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    img {
      height: auto;
    }

    .case-study-left {
      flex-basis: 65%;
      margin-right: 20px;

      .rich-text {
        margin-top: 0;
      }
    }

    .case-study-right {
      flex-basis: 30%;
      flex-shrink: 1;


      .rich-text {
        margin-top: 0;

        .h3 {
          padding-left: 30px;

          @media (max-width: 767px) {
            padding-left: 0;
          }
        }

        ul {
          margin-bottom: 44px;

          li {
            margin-bottom: 20px;
          }
        }
      }

      .color-text {
        background-color: #ebeef0;
        padding: 26px 30px 24px 24px;

        p {
          padding-left: 15px;
          border-left: 1px solid #9fa7b0;
          font-size: 16px;
          line-height: 1.8;
          // font-family: "Muli-Regular", sans-serif;
          font-weight: $fw-regular;
          color: #484b4d;
        }
      }
    }

    @media (max-width: $tablet-width) {
      display: block;

      .case-study-left {
        margin: 0 0 20px;
      }
    }
  }
}



/* *********************************** */
/* CSS for New Skin */

.cs-tag {
  display: inline-block;
  background: rgba(201, 216, 230, 0.25);
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 16px;

  a {
    color: $color-4c;

    &:hover {
      color: $color-58;
    }
  }
}

.cs-d-social {
  a {
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background-color: $color-e9;
    color: $color-6d;
    margin-right: 15px;

    &:hover {
      background-color: $color-6d;
      color: $white;
    }

    img {
      max-width: 14px;
      max-height: 14px;
    }
  }
}

.cs-quote {
  background: rgb(255, 255, 255);
  border-radius: 6px;
  border: 1px solid $color-75;
  padding: 32px;
  margin-top: 35px;
  font-size: rem(14);
  line-height: 1.43;
  .icomoon {
    font-size: rem(30);
    color: $color-75;
    display: inline-block;
    margin-bottom: 16px;
  }
  blockquote {
    +p {
      font-size: rem(12);
      color: $color-58;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-weight: $fw-semi-bold;
    }
  }
}

@media (min-width: 992px) {
  .cs-detail-cont-left {
    flex-grow: 1;
    max-width: calc(100% - 350px);
    padding-right: 60px;
  }

  .cs-detail-cont-right {
    flex: 0 0 350px;
    max-width: 350px;
  }

  .cs-detail-inner {
    max-width: 768px;

    iframe {
      max-width: 100%;
    }
  }
}

@media (min-width: 1501px) {
  .cs-detail-cont-left {
    flex-grow: 1;
    max-width: calc(100% - 425px);
  }

  .cs-detail-cont-right {
    flex: 0 0 425px;
    max-width: 425px;
  }
}