.mod-integration-partner {
  .case-d-gallery, .gal-slider {
    margin-bottom: 0;
  }
  .gal-slider {
    padding-bottom: 105px;
  }
  .slick-dots {
    bottom: 45px;
  }
  .list-url {
    li {
      padding-left: 23px;
      margin-bottom: 0;
      &::after {
        left: 0;
      }
      p {
        margin-bottom: 16px;
      }
    }
  }
}

@media (min-width: 992px) {
  .mod-integration-partner {
    margin-top: 62px;
  }
}