@import "../global/_variables.scss";
@import '../global/setting';

.resource-lp-right {
  // max-width: 500px;
  height: 200px;
}
.resource-lp-left {
  background-color: $color-ff;
  padding: 250px 44px 44px;
  margin-left: auto;
  margin-bottom: 45px;
  border-radius: 8px;
  box-shadow: inset -3px -8px 7px rgba($color: $black, $alpha: 0.1), 0 27px 57px rgba($color: $color-58, $alpha: 0.16);
}
.res-pattern-logo {
  margin-bottom: 25px;
  .ps-as {
    left: auto;
    right: 25px;
    top: 20px;
  }
}

@media screen and (min-width: 992px) {
  .resource-lp-left {
    padding: 250px 44px 44px;
    margin-bottom: 0;
    max-width: 550px;
  }
  .resource-lp-right {
    max-width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .resource-lp-left {
    margin-right: 50px;
  }
}



/* Downsloadable Box */
.downloadable-box {
  max-width: 355px;
}
.downloadable-thumb {
  margin-bottom: 60px;
  border-radius: 8px;
  height: 186px;
  
  box-shadow: inset -3px -8px 7px rgba($color: $black, $alpha: 0.1), 0 27px 57px rgba($color: $black, $alpha: 0.16);
}

.downloadable-pattern {
  // padding-bottom: 88.75%;
}
.downloadable-img {
  position: absolute;
  top: 46px;
  bottom: 46px;
  left: 46px;
  right: 46px;
  img {
    max-height: 100%;
    box-shadow: inset -3px -8px 7px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 10px 30px 40px 0 rgba(23, 10, 41, 0.28), inset -1px -8px 30px 0 rgba(233, 240, 245, 0.7);
  }
}










/* ____________ */
/* ____________ */
/* ____________ */

/* Detail page */

.new-resource-detail {
  position: relative;
  background-image: linear-gradient(to bottom, #e9f0f5 0%, #fff);
  .resource-lp-left {
    margin-left: 0;
    margin: 20px 0 40px;
    max-width: 550px;

  }
  .res-pattern-logo {
    .ps-as {
      width: 60%;
    }
  }
}

.re-webina-thumb {
  padding-bottom: 52.47%;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.content-blog {
  padding: 18px 20px;
  border: 1px solid $color-c9;
  border-top: 0;
  p {
    margin-bottom: 10px;
  }
}
.recommend-webinar {
  max-width: 425px;
}
.learn-more-cta {
  padding: 35px;
  max-width: 425px;
  .d-table {
    height: 310px;
  }
}


/*  */
/*  */
/*  */
.thanks-block {
  .resource-lp-right {
    max-width: 600px;
    font-size: rem(21);
    line-height: 1.33;
  }
}

@media screen and (max-width: 991px) {
  .recommend-webinar,
  .learn-more-cta {
    margin-left: auto;
    margin-right: auto;
  }
}